<?xml version="1.0" encoding="UTF-8" ?>
		<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.hfxt.dao.UsersDao">

	<resultMap id="userMap" type="Users">
		<id property="userid" column="USERID"></id>
		<result property="username" column="USERNAME"></result>
		<result property="password" column="password"></result>
	</resultMap>


	<select id="getUsesByUsername"  resultMap="userMap">
		select * from users where username=#{username}
	</select>


</mapper>